<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart - Domino's</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body style="margin:0;">
  <div class="menu">
    <div class="container_menu">
      <div class="container_menu_left">
            <ul>
                <a href="{% url '/' %}"><li><img src="{% static 'image/domino_logo.png' %}" width="65" height="65"></li></a>
                <a href="{% url '/' %}"><li>Home</li></a>
                <a href="{% url 'menu' %}"><li>Menu</li></a>
                <a href="{% url 'carts' %}"><li>Order</li></a>
                <a href="{% url 'contacts' %}"><li>Contact</li></a>
            </ul>
        </div>
      <div class="container_menu_right">
        <ul>
            <li><p id="numberItemInCart">0</p></li>
            <li><a href="/carts/"><img src="{% static 'icon/cart.png' %}" width="25" height="25"></a></li>
            <li><a href="account.html"><img src="{% static 'icon/user.png' %}" width="23" height="23"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="body_container">
    <div id="cartContainer"></div>
  </div>

  <footer style="background-color:#0b648f; color:white; padding:20px; text-align:center;">
    <!-- your footer -->
    <p>© 2025 Domino's Pizza Cambodia</p>
  </footer>

  <!-- Load JS at the end -->
  <script src="{% static 'js/template.js' %}" defer></script>
  <script src="{% static 'js/cart.js' %}" defer></script>
</body>
</html>