{% extends 'admin/dashboard.html' %}
{% load static %}
{% block content %}
    <section class="content">
      <div class="box box-primary">
        <div class="box-header">
          <i class="ion ion-clipboard"></i>
          <h3 class="box-title">Add Category</h3>
        </div>
        <div class="box-body">
          <form action="/manager/categories/create/" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="name">Category Name:</label>
                <input type="text" class="form-control" name="category_name" id="category_name" placeholder="Enter Category Name" required>
              </div>
              <a href="/manager/categories/" class="btn btn-danger" role="button">
                  <span class="glyphicon glyphicon-chevron-left"></span> Back
              </a>
              <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </section>
{% endblock content %}